apiVersion: octavia.openstack.org/v1beta1
kind: OctaviaAPI
metadata:
  labels:
    app.kubernetes.io/name: octavia-operator
    app.kubernetes.io/managed-by: kustomize
  name: octaviaapi-sample
spec:
  # TODO(user): Add fields here
