apiVersion: octavia.openstack.org/v1beta1
kind: Octavia
metadata:
  name: octavia
spec:
  databaseInstance: openstack
  databaseAccount: octavia
  persistenceDatabaseAccount: octavia-persistence
  serviceUser: octavia
  rabbitMqClusterName: rabbitmq
  secret: osp-secret
  preserveJobs: false
  customServiceConfig: |
    [DEFAULT]
    debug = true
  octaviaHousekeeping:
    databaseInstance: openstack
    databaseAccount: octavia
    persistenceDatabaseAccount: octavia-persistence
    serviceUser: octavia
    serviceAccount: octavia
    role: housekeeping
    secret: osp-secret
    preserveJobs: false
    customServiceConfig: |
      [DEFAULT]
      debug = true
    networkAttachments:
      - octavia
  octaviaHealthManager:
    databaseInstance: openstack
    databaseAccount: octavia
    persistenceDatabaseAccount: octavia-persistence
    serviceUser: octavia
    serviceAccount: octavia
    role: healthmanager
    secret: osp-secret
    preserveJobs: false
    customServiceConfig: |
      [DEFAULT]
      debug = true
    networkAttachments:
      - octavia
  octaviaWorker:
    databaseInstance: openstack
    databaseAccount: octavia
    persistenceDatabaseAccount: octavia-persistence
    serviceUser: octavia
    serviceAccount: octavia
    role: worker
    secret: osp-secret
    preserveJobs: false
    customServiceConfig: |
      [DEFAULT]
      debug = true
    networkAttachments:
      - octavia
  octaviaAPI:
    databaseInstance: openstack
    databaseAccount: octavia
    persistenceDatabaseAccount: octavia-persistence
    serviceUser: octavia
    serviceAccount: octavia
    secret: osp-secret
    preserveJobs: false
    customServiceConfig: |
      [DEFAULT]
      debug = true
